.adImageClass{
    height: 200px;
}
.adVideoClass{
    width: 100%;
    height: 200px;
}

.adViewImageClass{
    width: 100%;
    height: 300px;
}
.adViewVideoClass{
    width: 100%;
    height: 300px;
}
